*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(image/background.jpg);
    background-size: cover;
}

li, a {
    font-family: Arial;
    font-weight: 500;
    font-size: 23px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0%;
    background-color: rgb(0, 22, 70);
    height: 100px;
}

.logo {
    cursor: pointer;
    width: 100px;
    margin: 15px;
}

.nav-link {
    list-style: none;
}

.nav-link li {
    display: inline-block;
    padding: 0px 25px;
}

.nav-link li a {
    transition: all 0.3s ease 0s;
}

.nav-link li a:hover {
    color: rgb(255, 120, 58);
}

.beranda {
    color: white;
    font-family: Arial;
    margin: auto;
    padding: 80px 5%;
    font-weight: 500;
    font-size: 30px;
}

.join button {
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    font-family: Arial;
    color: rgb(0, 22, 70);
    background-color: white;
    padding: 15px 30px;
    border-radius: 100px;
    border: none;
    transition: all 0.3s ease 0s;
}

.join button:hover {
    color: white;
    border: 1px solid white;
    background-color: transparent;
}

.profil {
    color: white;
    font-family: Arial;
    margin: auto;
    padding: 80px 5%;
    font-weight: 500;
    font-size: 50px;
}

.profil .profil-isi {
    font-size: 20px;
    text-align: justify;
}

.jurusan {
    color: white;
    font-family: Arial;
    margin: auto;
    padding: 80px 5%;
    font-weight: 500;
    font-size: 50px;
}

.jurusan-kumpulan ul {
    margin: 0px 1.7%;
}

.jurusan-kumpulan ul li {
    list-style: decimal;
    font-size: 20px;
}

.jurusan-kumpulan p {
    font-size: 20px;
    text-align: justify;
}

.kontak {
    color: white;
    font-family: Arial;
    margin: auto;
    padding: 80px 5%;
    font-weight: 500;
    font-size: 50px;
}

.kontak .kontak-isi {
    font-size: 20px;
    text-align: justify;
}

.anjing {
    font-family: Arial;
    color: white;
    text-align: center;
    flex: 10px;
}

.footer {
    font-family: Arial;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.footer-jurusan {
    font-family: Arial;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.pengumuman {
    color: white;
    font-family: Arial;
    margin: auto;
    padding: 80px 5%;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
}

.pengumuman .pengumuman-isi {
    font-size: 20px;
}

.berita {
    text-align: center;   
    cursor: pointer; 
}

.berita-ppdb, .judul-berita {
    margin: 10px 0%;
}

.berita-ppdb {
    width: 1000px;
    border-radius: 25px;
}

.judul-berita {
    color: white;
    font-family: Arial;
    background-color: rgb(0, 22, 70);
    margin: 0px 44%;
    padding: 5px;
    border-radius: 25px;
}

nav .toggle-btn {
    color: white;
    font-size: 2rem;
    cursor: pointer;
    margin-right: 2rem;
    display: none;
}

/* DROPDOWN MENU */
.dropdown-menu {
    display: none;
    position: absolute;
    right: 2rem;
    height: 0;
    top: 130px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    list-style: none;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
    height: 260px;
}

.dropdown-menu li a {
    transition: all 0.3s ease 0s;
}

.dropdown-menu li a:hover {
    color: rgb(255, 120, 58);
}

.dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

iframe {
    border-radius: 15px;
}

.footer-profile {
    font-family: Arial;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.footer-pengumuman {
    font-family: Arial;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

/* RESPONSIVE DESIGN */
@media(max-width: 992px){
    nav .nav-link,
    nav .toggle-btn {
        display: none;
    }

    nav .toggle-btn {
        display: block;
    }

    .dropdown-menu{
        display: block;
    }

    .berita-ppdb {
        width: 370px;
    }

    .beranda {
        font-weight: 500;
        font-size: 20px;
    }

    .join button {
        padding: 10px 25px;
    }

    .profil {
        font-weight: 500;
        font-size: 40px;
    }
    
    .profil .profil-isi {
        font-size: 15px;
    }

    .jurusan {
        font-weight: 500;
        font-size: 40px;
    }
    
    .jurusan-kumpulan ul {
        margin: 0px 4.2%;
    }
    
    .jurusan-kumpulan ul li {
        font-size: 15px;
    }
    
    .jurusan-kumpulan p {
        font-size: 15px;
    }

    .kontak {
        font-weight: 500;
        font-size: 40px;
    }
    
    .kontak .kontak-isi {
        font-size: 15px;
    }

    .ikuti-kami {
        font-size: 25px;
        text-align: justify;
    }

    .footer-profile {
        position: fixed;
    }

    .footer-jurusan-kontak {
        font-family: Arial;
        left: 0;
        bottom: 0;
        position: fixed;
        width: 100%;
        color: white;
        text-align: center;
    }

    .judul-berita {
        margin: 0px 23%;
    }

    .logo {
        width: 75px;
        margin: 25px;
    }

    iframe {
        width: 373.3px;
        height: 210px;
    }
}

@media(max-width: 576px){
    .dropdown-menu{
        left: 2rem;
        width: unset;
    }
}